.iframe-container{
    overflow: hidden;
    padding-bottom: 56.25%;

    position: relative;
    width: 100%;
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-youtube{

    padding: 2rem 0 2rem 0;
    background-color: #6fc2f1;
}

.text-y{
    font-size: 15px;
    color: white;
}

@media screen and (max-width: 768px) {
    .row.align-items-start {
        display: flex;
        flex-direction: column;
    }
    .iframe-container{
       margin-top: 2rem;
    }
}
